/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { ... }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }

body {
  align: center;
  font-family: 'Merriweather', tahoma, lucida sans-serif, arial, sans-serif;
  background-color: black;
}
.reset{
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  height: 3rem;
  width: 7rem;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 30px;
  margin: 20px auto;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50rem;
}
.start{
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  padding-bottom: .5rem;
}
.hide{
  visibility: hidden;
}
.title{
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 4rem;
}
.messageBoard{
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 4rem;
}
.simon{
  height: 6rem;
  background-color: white;
  border: 5px solid #363636;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  border-radius: 15px 15px 15px 15px;
}
.blue{
  height: 5rem;
  background-color: blue;
  border: 5px solid #363636;
  border-radius: 5px 50px 15px 5px;
}
.green{
  height: 5rem;
  background-color: green;
  border: 5px solid #363636;
  border-radius: 5px 15px 50px 5px;
}
.red{
  height: 5rem;
  background-color: red;
  border: 5px solid #363636;
  border-radius: 15px 5px 5px 50px;
}
.yellow{
  height: 5rem;
  background-color: yellow;
  border: 5px solid #363636;
  border-radius: 50px 5px 5px 15px;
}
